{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мой кастомный сайт на Django</title>
    <!-- Django сам подставит правильный путь к файлу style.css -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

    <header class="custom-header">
        <h1>Добро пожаловать на сайт Django!</h1>
    </header>

    <main class="content">
        <p>Этот текст и шапка выше берут оформление из статики Django.</p>
        <button class="custom-button">Кастомная кнопка</button>
    </main>

</body>
</html>
